body {
    font-family: 'Roboto Mono', monospace;
    min-height: 854px;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c82942d6-8b71-4db5-8777-bb80cebbe6a0/dbdqo3b-0adab41a-7b43-4def-972f-709ffe531b08.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYzgyOTQyZDYtOGI3MS00ZGI1LTg3NzctYmI4MGNlYmJlNmEwXC9kYmRxbzNiLTBhZGFiNDFhLTdiNDMtNGRlZi05NzJmLTcwOWZmZTUzMWIwOC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.9PzNaoeO9VEkKeT12GSqKMccaCoF6RUeHaWM6P0Jk38');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    font-family: 'URW Chancery L', cursive;
    color: #7fffd4;
    margin: 5px 0;
}

button {
    width: 10rem;
    max-width: 10rem;
    padding: .8rem 1.5rem;
    margin: 2rem auto;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

h2 {
    font-family: 'Snell Roundhand', cursive;
    color: #f8f8ff;
}

#carta-jogador, #carta-maquina {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 5px;
    border-radius: 33px;
}

#carta-jogador h3 {
    text-align: center;
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 160px;
    margin: 2rem;
    color: white;
    z-index: 2;
}

.carta-status input {
    margin: 20px 10px;
}

.carta-status p {
    margin-bottom: 2rem;
}

.resultado-final {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weigth: bolder;
    padding: 1rem;
    border: 2px solid black;
    background-color: black;
}

.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.carta-subtitle {
    z-index: 2;
    position: absolute;
    top: 16px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
}

#cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#placar, #quantidade-cartas {
    font-family: 'Bradley Hand', cursive;
    font-size: 18px;
    color: #ee0000;
}
